@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');


body {
    background-color: beige;
    font-family: 'Noto Sans KR', sans-serif;
}

.main {
    color: white;
    text-shadow: 0 0 15px black;

    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(img/9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.input_text {
    width: 300px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.search_area>button {
    width: 100px;
    height: 37px;
    background-color: white;
    color: black;
    border-radius: 3px;
}

.movies-list {
    background-color: rgb(180, 166, 166);
    width: 1500px;
    height: 100%;
    border-radius: 10px;

    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    justify-content: center;
    margin: 40px auto 20px auto;

    display: flex;
}


.movie-card {
    background-color: rgb(204, 204, 204);
    width: 250px;
    height: 450px;
    border-radius: 10px;

    padding: 25px;

    display: grid;
    gap: 20px;

    grid-template-columns: repeat(5, 1fr);
    border: 20px;
    
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    justify-content: center;
}